<div class="panel panel-default panel-main">
               
               
                <div class="panel-heading" style = ":background-color: white;">
                    <div class = "user-info-container">
                        <div class = "col-md-4">
                           
                        </div>
                        <div class = "col-md-8" style ="text-align:right;">
                            <div class = "user-info-description-right">
                                <span class = "user-info-name">John Somebody</span> </br>
                                <div class = "user-info-time"><span>Last Post</span> - <span>Jun 27, 2014</span> </div>
                            </div>
                             <%= image_tag('toucan_left.jpg', :size => '50x50', :alt => '+', :class => "debater-right-pic")%>
                        </div>   
                    </div>
               
               
                 
                  

                </div>
               
                    <div class = "panel-body-content">
                    </div>
                
                <div class="panel-body">
                    <p>Do people born in 2000 get to choose if they are Generation Y or Generation Z? How do you decide what generation you want to belong to?</p>
                    

                    <hr>
                    <div class = "social-box text-social">
                    <div class = "col-md-8">
                            Convincing<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Weak <span class ="social-box-stat">17+</span> &nbsp;&nbsp;&nbsp;    Comments <span class ="social-box-stat">43+</span> 
                        </div>
                    
              </div>
                </div>
              
            </div>