@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.panel{
    border-radius: 0px  !important; 
}
.panel-main {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: Helvetica, sans-serif;
}
.debate-title{

    margin-left: 13px;

}
.panel > .panel-heading  {
  color: #333;
  background-color: white  !important;
  border-color: #fff !important;
}
.container-main
{
    margin-top:70px;
}
.panel-main > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-main > .dropdown > span > span {
    font-size: 10px;   
}
.panel-main > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-main > .panel-main-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-vs{
    text-align: center;
}

.panel-main > .panel-heading > .col-md-4,
.panel-main > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-main > .panel-heading > .col-md-4 {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-main > .panel-heading > .col-md-4 > .debater-left-pic { 
    margin-right: 15px;
}
.panel-main > .panel-heading > .col-md-4 > .debater-right-pic { 
    margin-left: 15px;
}
.panel-main > .panel-heading > .col-md-4 > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-main > .panel-heading> .col-md-4 > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.debater-right{
    float: right;
    text-align: right;

}
.debater-right-pic
{
    float: right;
}
/*.panel-main > .panel-body {
    margin-left: 13px;
    padding-top: 5px;
    margin-top: 10px;
    font-size: 12px;
}*/
.debate-content{
    margin-left: 13px;
    padding-top: 5px;
    margin-top: 10px;
    
}


.debate-title > hr{

    
    margin-top: 0px;
}
.panel-main > .panel-body > .panel-main-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-main > .panel-body > .panel-main-image > img {
    max-width: 100%;
}
.panel-body >hr{
    margin-bottom: 5px;
}
.panel-body .col-md-8{
    padding-left: 0px;
}
.panel-body .col-md-4{
    padding-right: 0px;
}
.social-box{
    min-height: 30px;
    
}
.social-box-stat{

    background-color: rgb(230,230,255);
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;

}
.social-box-right{
    text-align: right;
}

.panel-main > .panel-footer {
    padding-top: 0px !important; 
}


.panel-main > .panel-main-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-main.panel-main-show-comment > .panel-main-comment {
    display: block;
}
/*.panel-main > .panel-main-comment > img {
    float: left;   
}*/
.panel-main > .panel-main-comment > .panel-main-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-main > .panel-main-comment > .panel-main-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-main > .panel-main-comment > .panel-main-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-main > .panel-main-comment > .panel-main-textarea > .btn {
        width: auto;
    }    
}


.panel-main .btn {
    border-radius: 3px;   
}
.panel-main .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-main .btn-default:hover, 
.panel-main .btn-default:focus, 
.panel-main .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

/* topics */

.user-info-container{

    height: 50px;

}
.user-info-container > .col-md-8{

    height: 50px !important; 

}
.user-info-description{
    width: 82%;
    height: inherit;
    float:right;
    font-size: 12px;
}
.user-info-description-right{
    width: 82%;
    height: inherit;
    float:left;
    font-size: 12px;
}
.user-info-name{
    font-size: 14px;
    font-weight: bold;

}
.user-info-time
{
    color: rgb(153, 153, 153);
}
.panel-body-content
{
    width: 100%;
    
    
}
.panel-body-debaters{
    margin-top: 10px;
     width: 100%;
   
    

}
.debater-container
{
    margin-top: 10px;
     width: 100%;
    height: 100px;
   
}
.debater-img{
    float: left;
}

.debater-info{
    float: right;
    width: 80%;
   
    height: inherit;
}
.debater-info-name{
    height: 30%;

}
.debater-side-statement{
    height: 70%;
    font-size: 17px; 

}

.hidden{

    height: 0px;
    visibility: hidden;
}

.debater-img-open
{
    width: 100px;
    height: 100px;
    color: rgb(147,147,147);
    background-color: rgb(240,240,240);
    border: 1px solid rgb(220,220,220);
    font-size: 25px;
    padding-left: 12px;
    line-height: 3.6;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);

}
/* reply */
.content-box{

    max-width: 100%;
    margin-top: 15px;
}
.content-box> textarea{

    max-width: 100%;
}
.reply-btn{
    margin-top: 10px;
    text-align: right;
}
.topic-box{
    margin-top: 15px;
}
.new-post-label{
      color: rgb(153, 153, 153);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 17px;
}
/* separator types*/
.default-separator
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 94%;
}

/*different text types*/
.text-description{
    font-size: 14px;

}
.text-comment{
     font-size: 13px;
}
.text-debate-info{
    font-size: 12px !important;
    padding-top: 3px;
    padding-bottom:10px;
    color: rgb(153, 153, 153);

}
.text-name{
    font-size: 14px;
    font-weight: bold;
}
.text-social{
    color: rgb(153, 153, 153);
    font-size: 13px;
    line-height: 2.5;
}
/* no debater panel styles */
.no-debaters-notice-container{
    width: 100%;
    padding: 10px 15px;

}
.no-debaters-notice{
    color: rgb(153, 153, 153);
    width: 80%;
    float: left;
}
.no-debaters-join-btn{
    width: 20%;
    float: right;
}







/* not yet refined */
.left-navigation-pane{
    
}
.profile-info-container{
    height: 270px;
    width: 270px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    position: fixed;


}
.profile-pic-main{
    height: 100px;
    width: 100px;
    max-width: 100px;
    max-height: 100px;

}
.profile-info-main{
    font-family: "helvetica";
    font-weight: bold;
    font-size: 20px;
    width: 270px;
    height: 30px;
    margin-top: 10px;
    text-align: center;

}


.left-navigation-popular
{
    height: 300px;
}
.left-navigation-hot-topics
{
    height: 300px;
}
.right-navigation-pane{
    height: 400px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    position: fixed;
    width: 270px;
}