<div class="container container-main">
    <div class="row">

        <!-- left navigation pane -->
        
        <div class = "col-md-3">
        </div>


        <!-- main content area -->
         <div class = "col-xs-8 col-md-6" style ="margin-top: 10px;">

             <%= render(:partial => "no_user_debate", :locals =>{:f => @debates_for_display}) %> 
         </div>


    <!-- right navigation pane -->

    <div class = "col-md-3">
    </div>  

</div>
</div>