/* CSS crunched with Crunch - http://crunchapp.net/ */
.SiteHeader {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800;
	font-size: 14px;
	color: #fff
}
.SiteHeader.header_logo a {
	color: white;
	text-decoration: none
}
user agent stylesheetdiv {
	display: block
}
body {
	background-color: #fafafa;
	height: 100%;
	word-wrap: break-word;
	color: #333;
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	
}


html {
	height: 100%;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4
}
.header_inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #205081;
	border-bottom: 1px solid #1b436d;
	position: relative;
	height: inherit;
	width: 100%;
	margin: 0 auto
}
.header_inner_left {
	float: left;
	width: 70%;
	height: inherit
}
.header_inner_left .header_logo {
	margin-left: 22px;
	display: block;
	padding: 0 12px;
	width: 134;
	height: 49px;
	background: #205081 no-repeat center center;
	background-size: 57px 18px;
	text-decoration: none;
	color: white;
	font-family: helvetica;
	float: left;
	padding-top: 11px;
	font-size: 20px
	
}
.header_inner_left .header_logo a {
	color: white;
	text-decoration: none
}


.header_inner_left .header_search_wrapper {
	float: left;
	height: inherit;
	width: 72%;
	margin-left: 72px;
	
}
.col-lg-mine {
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
	width: 100%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
.header_inner_right {
	width: 25%;
	float: left;
	height: inherit
}
.nav_pill_wrapper {
	margin-right: 50px;
	margin-top: 0;
	width: 100%;
	float: left;
	height: 50px
}
.nav-pills {
	margin-top: 4px;
	margin-bottom: 0
}
.nav-pills li.active a {
	height: 45px;
	border-bottom: 3px solid #1b436d;
	color: #fff;
	background-color: #205081;
	border-radius: 0
}
.nav-pills li.active a:hover {
	color: #fff;
	background-color: #205081;
	border-radius: 0
}
.nav-pills li a {
	border-radius: 0;
	color: #fff
}
.nav-pills li a:hover {
	color: #fff;
	background-color: #1b436d;
	border-radius: 0
}
.nav-pills li .dropdown {
	position: relative;
	height: inherit;
	margin-top: 4px
}
.nav-pills li .dropdown .open .dropdown-menu li a {
	bacground-color: #205081
}
.nav-pills li .btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #205081;
	border: 1px solid transparent;
	border-radius: 0px;
	margin-bottom: 5px
}
.nav-pills li .btn:hover {
	color: #fff
}
.active_mine a:hover {
	background-color: #205081
}
/*.user_info_wrapper {
	float: right;
	height: inherit;
	width: 38%;
	margin-right: 2%
}*/
.drop_down_menu_addition {
	border-radius: 0px;
	background-color: #205081
}